.footer {
    background-color: $blackColor600;
    color: $whiteColor;
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    font-size: 12px;
    margin-top: 10px;
}