.ds-menu {
    flex: 1;
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
    // Internal Rounded Border (top - left)
    &::before {
        content: '';
        background: $whiteColor;
        border-radius: 5px 0 0 0;
        height: 5px;
        left: 0;
        position: absolute;
        right: 0;
        top: -5px;
        z-index: 1;
    }
    // Line under the menu
    &::after {
        content: '';
        background: $greyColor200;
        background: linear-gradient(to right,$whiteColor 0,$greyColor200 5%,$greyColor200 95%,$whiteColor 100%);
        bottom: 0;
        height: 1px;
        left: -50px;
        right: 0;
        position: absolute;
        z-index: -2;
    }
}