$pColor: #1976d2;
$pLightColor: #63a4ff;
$pDarkColor: #004ba0;

$sColor: #c62828;
$sLightColor: #ff5f52;
$sDarkColor: #8e0000;

$pTextColor: #ffffff;
$sTextColor: #ffffff;

$disableBgColor: #E0E0E0;
$disableTextColor: #ffffff;

$stressFontFamily: 'Open Sans', sans-serif;
$normalFontFamily: 'Roboto', sans-serif;
