.ds-menu {    
    position: relative;
    &::after {
        content: '';
        background: #b3bbc0;
        background: linear-gradient(to right,#fff 0,#b3bbc0 5%,#b3bbc0 95%,#fff 100%);
        bottom: 2px;
        height: 1px;
        left: 0px;
        right: 50px;
        position: absolute;
        z-index: -2;
    }
    &-item {
        color: $greyColor300;
        display: inline-block;
        height: 2.5rem;
        letter-spacing: -1px;
        line-height: 2.5rem;
        font-size: 18px;
        font-weight: 400;
        padding: 0 20px;
        text-align: center;
        cursor: pointer;
        position: relative;
        &:hover {
            color: $greyColor400;
        }
        &.selected {
            color: $altOneColor500;
            cursor: default;
            font-weight: 600;
            &::before, &::after {
                background: url('./images/menu/tab-selected-curtain.png') no-repeat;
                content: '';
                height: 100%;
                position: absolute;
                top: 1px;
                width: 50%;
                z-index: -1;
            }
            &::before {                
                background-position: left top;
                left: 0
            }
            &::after {
                background-position: right top;
                right: 0;
            }
        }
    }
}