@import './styles/variables';
@import './styles/app-wrap';

@import './styles/components/app-wrap/_Navigation.component.scss';
@import './styles/components/app-wrap/navigation/_Header.component.scss';
@import './styles/components/app-wrap/navigation/_Menu.component.scss';

@import './styles/components/app-wrap/Footer.component';

body {
    border: 10px solid $blackColor600;
    border-bottom: none;
    border-top: none;
    font-family: $normalFontFamily;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}