@import './styles/variables';
@import './styles/containers/app/_Application.scss';

@import './styles/containers/app/_Header.component.scss';
@import './styles/containers/app/header/_TopBar.component.scss';
@import './styles/containers/app/header/_Navigation.component.scss';
@import './styles/containers/app/header/navigation/_PortalSelector.component.scss';
@import './styles/containers/app/header/navigation/_Menu.component.scss';
@import './styles/containers/app/header/navigation/menu/_Item.component.scss';

@import './styles/containers/app/Main.component';
@import './styles/containers/app/Footer.component';

body {
    border: 14px solid $greyColor600;
    border-bottom: none;
    border-top: none;
    font-family: $normalFontFamily;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}