.ds-menu-item {
    @include font-size(1.1);
    color: $greyColor300;
    display: inline-block;
    height: 2.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
    position: relative;       
    &:hover {
        color: $greyColor500;
    }
    &.selected {
        color: $altOneColor500;
        cursor: default;          
        font-weight: 600;
        // Internal Rounded Borders
        &::before, &::after {
            background: url('./images/navigation/tab-selected-curtain.png') no-repeat;
            content: '';
            height: 100%;
            position: absolute;                
            width: 50%;
            z-index: -1;
        }
        &::before {                
            background-position: left bottom;
            left: 0
        }
        &::after {
            background-position: right bottom;
            right: 0;
        }
    }
}